
<<<<<<< HEAD
=======
  .sidebar-container .ps-sidebar-container {
    color: white;
    min-height: 100vh !important;
    background-color: rgba(14, 56, 47, 1) !important;
  }
>>>>>>> 48f7f1ca5f6b86f0b18687d2f967c12beabbe24e
