/* PopularAds */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 15rem);
    grid-template-areas:
      "main - - "
      "main - - ";
    gap: 1rem;
  }
  
  .card.main {
    grid-area: main;
  }
  .layer{
    background-color: rgba(0, 0, 0, 0.26);
  }

 .card:hover .layer {
  transition: all 1s;
  display: flex;
  top: 0% !important;
 }


  @media (max-width: 67rem) {
    .grid {
      grid-template-columns: repeat(2, 50%);
      grid-template-areas:
        "main - "
        "main - ";
    }
  }
  @media (max-width: 55rem) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "main main"
        "- -";
    }
  }
     

  @media (max-width: 30rem) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-areas:
      "main "
      "- ";
   
    }
  }


  /* Explore */
  .imgoverlay{
    position: relative;
    overflow: hidden ;
  }
  .imgoverlay:hover .overlay{
    transform:translateY(0%);
    overflow: hidden;
  }
 .overlay{
   position:absolute;
   inset:0;
   /*background: rgba(0,0,0,0.3);
   */background-color: rgba(32, 63, 199,0.4);
   width:100%;
   height:100%;
   display:grid;
   place-content:center;
   transform:translateY(100%);
   transition:transform 200ms ease-in-out;
   border-radius: 30px;
}
 
 
 .overlay:hover{
   transform:translateY(0);
 }

 /* /////////////////////// */

.animatText{
   /* margin: 0; */
   padding: 20px;
   margin-left: 50px !important;
   padding: 20px;
   /* background-color: #e5e9f2; */
   /* border-radius: 20px; */
   
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   animation: textAnimation 2s ease-in-out infinite alternate, colorAnimation 4s ease-in-out infinite alternate;
 }
 
 @keyframes textAnimation {
   0% {
     transform: scale(1);
   }
 
   100% {
     transform: scale(1.1);
   }
 }
 
 @keyframes colorAnimation {
   0% {
     color: #fff;
   }
 
   25% {
     color: #152C5B;
   }
   50% {
     color: #cb1e1e;
   }
 
   100% {
     color: #fff;
   }
 }